#home-main {
    width: 100vw;
    height: 100vh;
}

#title {
    text-align: center;
    /* background-color: red; */
    width: 40%;
    margin: 0 auto;
    padding-top: 60px;
    font-size: 50px;
}

#subtitle {
    text-align: center;
    /* background-color: red; */
    width: 60%;
    margin: 0 auto;
    font-size: 30px;
}

#images-container {
    margin: 0 auto;
    width: 80%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#images-container img {
  width: 500px;
  margin: 40px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 4px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 50px;
}

#book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  height: 30vh;
}

#book-btn {
  margin-top: 20px; /* Adjust as needed */
}
