#info {
    margin: 0 auto;
    width: 40%;
    height: 20%;
    text-align: center;
    
}
#sign-btn {
    width: 200px;
    
}
#players-box {
    width: 80%;
    height: 40%;
    /* background-color: red; */
    margin: 0 auto;
    display: flex;
}
#more-info {
   margin-top: 10px;
}

#more-info p {
    margin-bottom: 10px; /* Add margin between paragraphs */
}