.top-left-container text {
    fill: white !important;
}

.last-night-info {
    text-align: center;
    font-size: 12.5px;
    align-items: center;
    margin-right: 15%;
    margin-left: 20%;
    display: flex;
}