.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  color: white;
  font-family: "Canva Sans", sans-serif;
  font-weight: bold;
  font-size: 24px; /* Adjust the font size as needed */
  letter-spacing: 1px; /* Add some letter spacing */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow */
}


.right-container {
  height: 100%;
  width: 85%;
  background-color: #1c132e;
}



.right-main {
    width: 100%;
    height: 100%;
    background-color: #1c132e;
    display: flex;
    justify-content: center;
}

.top-third-container {
  position: absolute;
  top: 12%; /* Adjust the value as needed to control the distance from the bottom */
  width: 70%;
  height: 25%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.top-left-container,
.top-right-container {
    width: 40%;
    height: 100%;
    background-color: #272f4e;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.top-right-container img {
 margin: 10px;
}